# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.NamorokaV2.iml
# Datasource local storage ignored files
/../../../../../../../:\source\NamorokaV2\NamorokaV2\.idea\.idea.NamorokaV2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/